doctype html
html(lang="en")
  head
    title Resposice Sidebar Menu
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" text="text/css" href="index.css")
  body
    .navigation
      .toggle(onclick="toggleMenu()") djf
      ul
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Home
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Profile
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Messages
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Helps
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Setting
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Password
        li
          a(href="#")
            span.icon
              i(class="fa fa-home" data-feather="activity") icon
            span.title Sign Out
    script(type="text/javascript" herf="toggle.js") 
